a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: forestgreen;
}

a:active {
	color: grey;
}

li {
	list-style: none;
	padding: 5px;
}

.navbar-wrapper {
	display: flex;
	justify-content: space-evenly;
    padding: 0 2em;
}

.nav-ul {
	padding-right: 30px;
	list-style-type: none;
	display: flex;
}

.li-link {
    margin-left: 75px;
}

.navbar-title,
.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-nav {
	padding-left: 20px;
}
