a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: forestgreen;
}

a:active {
	color: grey;
}

.nav-ul {
	padding-right: 30px;
	list-style-type: none;
	display: flex;
}

.nav-title,
.nav-bar {
	display: flex;
	justify-content: space-between;
}

.nav-li {
	padding: 10px;
}

.header-nav {
	padding-left: 20px;
	background-color: lemonchiffon;
}
